<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Perfil Funcionário</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Atualizar Perfil Funcionário</h1>

    <form action="">
        <div id="buttons">

            <input type="number" placeholder="Funcionario id" id="funcionario_id" required>
            <br> <br>
                <input type="number" placeholder="Idade" id="idade" required>
                <input type="text" placeholder="Endereco" id="endereco" required>
                <input type="text" placeholder="Telefone" id="telefone" required>
            <input type="submit" id="botao">
        </div>
    </form>

    <p id="status"></p>
    <script src="js/fetch.js"></script>
</body>

</html>