<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Funcionário</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Deletar Funcionário</h1>

    <form action="">
        <div id="buttons">
            <input type="text" placeholder="Id Funcionario" id="idFuncionario">
            <input type="submit" id="botao">

        </div>
    </form>

    <p id="status"></p>
    <script src="js/fetch.js"></script>
</body>

</html>