
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Funcionário</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Adicionar Funcionário</h1>

    <form action="">
        <div id="buttons">
                <input type="text" placeholder="Nome" id="nome" required>
                <input type="text" placeholder="Cargo" id="cargo" required>
                <input type="number" placeholder="Salario" id="salario" required>
        
                <input type="submit" name="botao" id="botao">
        
                <p id="status"></p>
        </div>
    </form>
    
    <script src="js/fetch.js"></script>
</body>
</html>